<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-600" type="text" placeholder="Enter A Title" name="title">
                <textarea class="block w-full rounded-md outline-none px-5 py-2 mt-2 resize-none bg-zinc-600" placeholder="Enter Your Task" name="details"></textarea>
                <input type="submit" class="mt-2 bg-blue-600 px-5 py-2 rouned-md" value="Create Task">
            </form>
        </div>
        <div class="tasks flex gap-3 flwx-wap p-10">
            <% if (files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="task w-72 px-3 py-4 rounded-md bg-zinc-700">
                        <h1 class="text-white text-3xl tracking-tighter"><%= val %></h1>
                        <div class="mt-3 flex w-full justify-between items-center">
                            <a class="text-blue-500 inline-block" href="/file/<%= val %>">Read More..</a>
                            <a class="text-zinc-400 " href="/edit/<%= val %>">Edit Filename</a>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <h3 class="text-zinc-300">No Tasks</h3>
            <% } %>           
        </div>
    </div>


    
</body>
</html></html>